body {
  background-color: rgb(76, 119, 124);
  background-image:
    linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  display: flex;
  justify-content: center;
}

.calculator {
  background-color: #0c3235;
  margin-top: 5%;
  padding: 5%;
  box-sizing: border-box;
  border-radius: 25px;
  color: white;
  font-family: 'Nunito', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "number" 
    "operation"
    "footer"
    "result";
  }
}

.number-input {
  grid-area: number;
}

.num1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.num2 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 320px) {
  .number-input {
    display: flex;
    flex-direction: column;
  }

  .num1 {
  padding-bottom: 10px;
  }

  .num2 {
    padding-bottom: 10px;
  }

  .operation {
    padding-top: 10px;
  }
}

@media (min-width: 576px) {
  .number-input {
  display: flex;  
  flex-direction: row;
  }

  .num1 {
    padding-right: 10px;
  }

  .num2 {
    padding-left: 10px;
  }
}

input[type=number] {
padding: 10px 10px;
border-radius: 5px;
border: none;
}

.operation {
grid-area: operation;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
padding-bottom: 10px;
border-bottom: solid 1px rgba(128, 172, 119, 0.363);
}

.footer {
display: flex;
justify-content: center;
grid-area: footer;
}

#result {
grid-area: result;
color: rgb(201, 247, 36);
}

button {
width: 55px;
height: 55px;  
margin: 10px;
border-radius: 50%;
border: none;
font-family: 'Nunito', sans-serif;
font-weight: 600;
}

button:hover {
border: solid white 2px;
background: rgb(219, 250, 107);
}

:placeholder-shown {
font-family: 'Nunito', sans-serif;
}